---
import Layout from '@layouts/Layout.astro';
import Button from '@components/ui/Button.astro';

const { slug } = Astro.params;

// On récupère l'entry depuis la collection
import { getCollection, render } from 'astro:content';
const entries = await getCollection('service');
const entry = entries.find(e => e.id === slug) ?? null;

// Rendu Markdown si existant
const { Content } = entry ? await render(entry) : { Content: null };

// SEO
const seoTitle = entry?.data.name || "Service introuvable";
const seoDescription = entry?.data.description || "Slug manquant";
let seoImage: string | undefined = entry?.data.icon;

if (seoImage && !seoImage.startsWith('http')) {
  const siteUrl = import.meta.env.SITE || 'https://exemple.com';
  seoImage = new URL(seoImage.startsWith('/') ? seoImage : `/${seoImage}`, siteUrl).toString();
}
---

{entry ? (
  <Layout title={seoTitle} description={seoDescription} image={seoImage}>
    
    <!-- Image de fond avec overlay -->
    {seoImage ?
    <div class="relative w-full overflow-hidden border-b border-black h-96">
        <img src={seoImage} alt=""
            class="w-full h-full object-cover object-top grayscale opacity-20"/>
        
        <!-- Overlay -->
        <div class="absolute inset-0 bg-primary/10 backdrop-blur-md z-0"></div>

        <!-- Contenu au-dessus -->
        <div class="absolute inset-0 flex flex-col items-center justify-center z-10 mt-16">
            <h1 class="text-center text-4xl font-bold mb-4">{entry.data.name}</h1>
            <p class="text-gray-600 max-w-xl mx-auto text-center mb-4">{entry.data.description}</p>
            {entry.data.link && entry.data.text &&
                <Button href={entry.data.link} variant="primary" size="md" class="uppercase">
                {entry.data.text}
                </Button>
            }
        </div>
    </div>
    : null}

      <!-- Contenu Markdown -->
      {Content ? 
        <div class="site-container--small prose-neutral dark:prose-invert service-text max-w-none mx-auto px-4 pt-4 pb-16">
          <Content></Content>
          {entry.data.link && entry.data.text ? 
            <div class="text-center mt-12">
              <Button href={entry.data.link} variant="primary" size="md" class="uppercase">
                {entry.data.text}
              </Button>
            </div>
          : null}
        </div>
      : null}

    </article>
  </Layout>
) : (
  <Layout title="Service introuvable" description="Slug manquant">
    <div class="site-container mx-auto py-24 px-6 text-center">
      <h1 class="text-4xl font-bold mb-4">Service introuvable</h1>
      <p class="text-gray-600">Le service que vous recherchez n'existe pas ou a été supprimé.</p>
    </div>
  </Layout>
)}