---
import Button from '@components/ui/Button.astro';
import Input from '@components/ui/form/Input.astro';
import Textarea from '@components/ui/form/Textarea.astro';
import Checkbox from '@components/ui/form/Checkbox.astro';
import Select from '@components/ui/form/Select.astro';

const hearAboutOptions = [
    { label: 'Moteur de recherche', value: 'search' },
    { label: 'Réseaux sociaux', value: 'social' },
    { label: 'Amis/Collègues', value: 'referral' },
    { label: 'Autre', value: 'other' },
];

const serviceOptions = [
  { label: "Création", value: "creation" },
  { label: "Modification d'adresse", value: "modification-adresse" },
  { label: "Modification d'activité", value: "modification-activite" },
  { label: "Correction", value: "correction-rne" },
  { label: "Cessation", value: "cessation" },
];

const formBackground = 'light';
---

<form id="contact-form" class="space-y-6 bg-white p-6 rounded-lg">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <Input label="Nom" id="name" name="name" required background={formBackground} />
        <Input label="Email" type="email" id="email" name="email" required background={formBackground} />
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <Input label="Téléphone" type="tel" id="phone" name="phone" background={formBackground} />
        <Input label="Entreprise" id="company" name="company" background={formBackground} />
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <Select
            label="Comment avez-vous connu MAF ?"
            id="hear_about"
            name="hear_about"
            options={hearAboutOptions}
            required
            background={formBackground}
        />
        <Select
            label="Quelle prestation vous intéresse ?"
            id="service"
            name="service"
            options={serviceOptions}
            required
            background={formBackground}
        />
    </div>

    <Textarea label="Message" id="message" name="message" required background={formBackground} />

    <Checkbox
        label="J'accepte les termes et conditions"
        id="terms"
        name="terms"
        required
        background={formBackground}
    />

    <div class="mt-6">
        <Button type='submit'>Envoyer</Button>
    </div>
</form>
<script src="/js/contact.js" type="module"></script>
